html {
  scroll-behavior: smooth !important;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

#logo_avion {
  height: 2rem;
  width: 2rem;
}

header .navbar {
  background-color: transparent !important;
  position: absolute;
  z-index: 1;
}

header #carouselExampleControls {
  background-size: cover;
  min-height: 100vh;
}

body {
  background-color: black;
  color: white;
  height: 100vh;
  width: 100vw;
}

a {
  color: white;
  font-weight: bolder;
}
.card-body {
  background-color: #0ccbf1;
}

.somos {
  line-height: 2rem;
}

.strip-icon {
  background-color: #0ccbf1;
}

.iconos_card {
  background-color: #0ccbf1;
}

button {
  background-color: #0ccbf1;
}

.fa-3x {
  margin: 0 0.3em;
  color: white !important;
}

footer {
  height: 6.25rem;
}
